body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10rem 20rem;
    text-align: center;
}

nav {
    margin: 10rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20rem;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}